.footer {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(238, 143, 0);
    color: rgba(7, 7, 7, 0.678);
    text-align: center;
 }

 img{
    height: 50px;
 }